<header class="w-full h-20 bg-black flex flex-row justify-between text-white items-center p-4">
    {% comment %} <h1 class="text-4xl font-sans">{{shop.name}}</h1> {% endcomment %}
    <h1 class="text-4xl font-sans font-bold text-[#CDCDCD]">E-Shop</h1>

    <ul class="text-gray-300 font-light flex flex-row space-x-2 font-sans">
        {% for link in linklists.main-menu.links -%}
        <li class="hover:text-white">{{ link.title | link_to: link.url}}</li>
        {%- endfor %}
    </ul>
    <div class="flex flex-row items-center justify-center space-x-4 mr-10">
        <a href={{ routes.account_login_url }}>Log In</a>
        <a class="bg-[#303239] p-2 h-10" href={{ routes.account_register_url }}>Sign Up</a>
    </div>
</header>
